* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

/*Header*/

.header {
  height: 15vh;
  width: 100%;
  background-color: papayawhip;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px auto;
  text-align: center;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 0 18px;
}

.logo img {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  object-fit: cover;
}

.home a {
  color: black;
  text-decoration: none;
}

.about {
  display: flex;
  width: 45%;
}

.about ul {
  width: 45%;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  gap: 20px;
  font-size: 15px;
}

.about li {
  list-style: none;
}

.about li a {
  text-decoration: none;
  gap: 30px;
  color: black;
}

.signIn {
  padding-right: 15px;
}

.color1 {
  border: 1px solid blue;
  color: blue;
  background-color: rgb(236, 236, 236);
  padding: 5px 10px;
  border-radius: 10px;
  transition: 0.5s;
  width: 70px;
  height: 30px;
  font-size: 11px;
  cursor: pointer;
}

.color1:hover {
  color: white;
  background-color: blue;
}

.color2 {
  border: 1px solid blue;
  color: white;
  background-color: blue;
  padding: 5px 10px;
  border-radius: 10px;
  width: 70px;
  height: 30px;
  font-size: 11px;
  cursor: pointer;
}

.color2:hover {
  color: blue;
  background-color: rgb(236, 236, 236);
  transition: 0.5s;
}

/*body*/

.body {
  height: 80vh;
  width: 100%;

  background-color: blue;
}

.text {
  color: white;
  padding-top: 15px;
  font-size: 20px;
  text-align: center;
}

.services {
  display: flex;
  align-items: center;
  justify-content: center;
}
.services img {
  object-fit: cover;
  width: 50%;
  height: 50%;
  margin-top: 150px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  padding: 7px 35px;
  border-radius: 15px;
  border: 1px solid blue;
  font-size: 10px;
  font-weight: bold;
  color: white;
  background-color: blue;
  cursor: pointer;
}

.button:hover {
  color: blue;
  background-color: white;
  transition: 0.5s;
}
